<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "BlogApp" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white  antialiased">
    <section  x-data="{open: true}" class="m-6 lg:flex lg:flex-row flex flex-col justify-between items-center gap-4 lg:px-80 text-teal-800 font-serif">
      <div class="text-3xl flex flex-row justify-between items-center gap-4">
        <.link navigate={~p"/"}>
        <img src={~s"/images/stew.jpg"} alt="" class=" w-28 h-28 rounded-full">
      </.link>
        <p>Blog</p>
        
        
        <div class=" lg:hidden  ">
        <span @click ="open = !open" type="button" class="material-symbols-outlined  cursor-pointer "> reorder </span>
      </div>
      
      </div>
  
    <ul
    x-show="open"
    class="lg:flex lg:flex-row  flex-1 space-x-6 justify-end align-middle lg:items-center text-3xl   p-4 flex flex-col items-center flex-wrap"
  >
          
    <!-- Search -->
    <.search class=" w-1/2"  placeholder="Seach by title..." search={@search}></.search>

      <.link navigate={~p"/?cat=art"}> Art </.link>
  
      <.link navigate={~p"/?cat=science"}> Science </.link>
  
      <.link navigate={~p"/?cat=technology"}> Technology </.link>
  
      <.link navigate={~p"/?cat=design"}> Design </.link>
  
      <.link navigate={~p"/?cat=music"}> Music </.link>
  
  
    
  
    <ul class="relative z-10 flex  flex-row justify-center items-center gap-4 px-4 sm:px-6 lg:px-8 ">
      <%= if @current_user do %>
        <li class="text-[0.8125rem] leading-6 text-zinc-900">
          <%= @current_user.email %>
        </li>
        <li>
          <.link
            href={~p"/users/settings"}
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Settings
          </.link>
        </li>
        <li>
          <.link
            href={~p"/users/log_out"}
            method="delete"
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Log out
          </.link>
        </li>
      <% else %>
      
        <li>
          <.link
            href={~p"/users/log_in"}
            class="text-2xl  leading-6 text-teal-900 font-semibold hover:text-zinc-700"
          >
            Log in
          </.link>
        </li>
      <% end %>
    </ul>
    <.link navigate={~p"/live/create"} class="hover:border-b-2  hover:border-b-fuchsia-800">Create</.link>
   

  </ul>
</section>
    <%= @inner_content %>
  </body>
</html>
